logs
*.zip
cache
wepif.yml
Murder_world/advancements/*
Murder_world/playerdata/*
Murder_world/stats/*
plugins/bStats/config.yml
plugins/WorldEdit/.archive-unpack/*
banned-ips.json
banned-players.json
commands.yml
eula.txt
help.yml
libraries/*
ops.json
permissions.yml
plugins/Essentials/userdata/*
plugins/LuckPerms/translations/*
usercache.json
version_history.json
versions/*
whitelist.json
*.db
